/Calculadora.class
/Calculadora2.class
/Asteríscos.class
/Asteríscos2.class
/AlRevés.class
/AlRevés2.class
/Vocales.class
/Vocales2.class
/Vocales3.class
/VocalesConMayúsculas.class
/OrdenarArray.class
/Ordenar.class
/AsteriscosInt.class
/Tragaperras.class
/TragaperrasFrancis.class
